@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div id="test-form" class="white-popup-block border">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>  Giriş Yap</h3>
            <form asp-action="Login" asp-controller="Auth" method="post">
                <partial name="_LoginScreen" />
            </form>
        </div>
    </div>
</div>
