@model RegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div id="test-form" class="white-popup-block border">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>Kayıt Ol</h3>
            <form asp-action="Register" asp-controller="Auth" method="post">

                <div class="col-xl-12 row">
                    <div class="col-xl-6">
                        <input type="text" asp-for="Name" class="form-control"  placeholder="Ad">
                        <span asp-validation-for="Name" class="text-danger"> </span>
                    </div>
                    <div class="col-xl-6 float-right">
                        <input type="text" asp-for="Surname" class="form-control"  placeholder="Soyad">
                        <span asp-validation-for="Surname" class="text-danger"> </span>
                    </div>
                </div>
                <div class="col-xl-12">
                    <input type="text" asp-for="PhoneNumber" class="form-control"  placeholder="Telefon Numarası">
                    <span asp-validation-for="PhoneNumber" class="text-danger"> </span>
                </div>
                <div class="col-xl-12 row">
                    <div class="col-xl-6">
                        <label class="float-left">Kan Grubu Seçiniz</label>
                        <select class="form-select wide" asp-for="BloodTypeId" asp-items="@ViewBag.BloodTypes">
                        </select>
                        <span asp-validation-for="BloodTypeId" class="text-danger"> </span>
                    </div>
                    <div class="col-xl-6">
                        <label class="float-left">Doğum Tarihiniz</label>
                        <input type="date" asp-for="BirthDate" />
                        <span asp-validation-for="BirthDate" class="text-danger"> </span>
                    </div>
                </div>

                <div class="col-xl-12 mb-2">
                    <textarea asp-for="Address" class="form-control" placeholder="Adres Giriniz"></textarea>
                    <span asp-validation-for="Address" class="text-danger"> </span>
                </div>
                <div class="col-xl-12">
                    <input type="text" asp-for="IdentityNumber" class="form-control"  placeholder="TC Kimlik No">
                    <span asp-validation-for="IdentityNumber" class="text-danger"> </span>
                </div>

                <div class="col-xl-12">
                    <input type="password" asp-for="Password" class="form-control"  placeholder="Şifre">
                    <span asp-validation-for="Password" class="text-danger"> </span>
                </div>
                <div class="col-xl-12">
                    <button type="submit" class="boxed-btn3">Kaydol</button>
                </div>
                <!--end::Action-->
                <div class="pb-10 pb-lg-15">
                    <div class="text-muted font-weight-bold font-size-h4 mt-2 ml-3">
                        Zaten Hesabın Var Mı?
                        <a asp-action="Index" asp-controller="Auth" class="text-primary font-weight-bolder">Giriş Yap</a>
                    </div>
                </div>
        </form>
    </div>
</div>
</div>