@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-5">
    <div class="card-header">
        Randevularım
    </div>

    <div class="mt-4 row card-body ">
        <div class="col-md-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info btn-lg px-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Randevu Al
            </button>

        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mt-10">
                        <label class="float-left">Poliklinik Seçiniz</label>
                        <select class="form-select wide" id="policlinicId" asp-items="@ViewBag.Policlinics">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Doctor Seçiniz</label>
                        <select class="form-select wide" id="doctorId" asp-items="@ViewBag.Doctors">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Randevu Tarihi Seçiniz</label>
                        <input type="datetime-local" id="date" />
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="takeAnAppoinment()" class="btn btn-primary">Randevu Al</button>
            </div>
        </div>
    </div>
</div>