@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-5">
    <div class="card-header">
        Randevularım
    </div>

    <div class="mt-4 row card-body ">
        <div class="col-md-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info btn-lg px-3" data-bs-toggle="modal" data-bs-target="#appointmentModal">
                Randevu Al
            </button>

        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade " id="appointmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mt-10">
                        <label class="float-left">Hastane Seçiniz</label>
                        <select class="form-select wide" onchange="hospitalChange()" id="hospitalId" asp-items="@ViewBag.Hospitals">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Poliklinik Seçiniz</label>
                        <select disabled class="form-select wide" onchange="policlinicChange()" id="policlinicId">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Doctor Seçiniz</label>
                        <select disabled class="form-select wide" id="doctorId">
                        </select>
                    </div>
                    <div class="mt-10">
                        <label class="float-left">Randevu Tarihi Seçiniz</label>
                        <input type="datetime-local" id="date" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="takeAnAppoinment()" class="btn btn-primary">Randevu Al</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //hastane seçimine göre poliklinik getirme
            function hospitalChange() {

                var id = document.getElementById("hospitalId").value;
                if (id > 0) {
                    $.ajax({
                        method: "GET",
                        url: "/Home/PoliclinicList/" + id,
                    }).done(function (content) {
                        $("#policlinicId").attr("disabled", false);
                        $("#policlinicId").removeClass("text-muted");
                        $("#policlinicId").empty();
                        $("#policlinicId").append('<option value="-1">Poliklinik Seçiniz</option>');

                        let policlinic = JSON.parse(content);
                        for (var i = 0; i < policlinic.length; i++) {
                            var opt = '<option value="' + policlinic[i].Id + '">' + policlinic[i].Name + '</option>';
                            $("#policlinicId").append(opt);
                        }
                    }).fail(function (error) {

                    });
                } else {
                    $("#doctorId").empty();
                    $("#doctorId").append('<option value="-1">Doktor Seçiniz</option>');
                    $("#doctorId").attr("disabled", true);
                    $("#doctorId").addClass("text-muted");
                }
            }
            //poliklinik seçimine göre doktor getirme
            function policlinicChange() {
                var id = document.getElementById("policlinicId").value;
                if (id > 0) {
                    $.ajax({
                        method: "GET",
                        url: "/Home/DoctorList/" + id,
                    }).done(function (content) {
                        $("#doctorId").attr("disabled", false);
                        $("#doctorId").removeClass("text-muted");
                        $("#doctorId").empty();
                        $("#doctorId").append('<option value="-1">Doktor Seçiniz</option>');

                        let doctor = JSON.parse(content);
                        for (var i = 0; i < doctor.length; i++) {
                            var opt = '<option value="' + doctor[i].Id + '">' + doctor[i].Name + ' ' + doctor[i].Surname + '</option>';
                            $("#doctorId").append(opt);
                        }
                    }).fail(function (error) {

                    });
                } else {
                    $("#doctorId").empty();
                    $("#doctorId").append('<option value="-1">Doktor Seçiniz</option>');
                    $("#doctorId").attr("disabled", true);
                    $("#doctorId").addClass("text-muted");
                }
            }
            //randevu alma
            function takeAnAppoinment() {
                var formData = {
                    hospitalId: $("#hospitalId").val(),
                    policlinicId: $("#policlinicId").val(),
                    doctorId: $("#doctorId").val(),
                    date: $("#date").val(),
                };
                $.ajax({
                    method: 'POST',
                    url: '/Home/TakeAnAppointment/',
                    data: formData
                }).done(function (data) {
                    if (data == "true") {
                        alertify.success("Kaydınız başarıyla oluşturuldu");
                        $(".btn-close").trigger('click');
                    }
                    else {
                        alertify.success("Kaydınız başarısız lütfen tekrar deneyin");
                    }
                });
            }
        });

    </script>

}